# --- Databases ---
LIMS_DB_USERNAME=postgres
LIMS_DB_PASSWORD=strong-password
KEYCLOAK_DB_PASSWORD=strong-password

# --- Keycloak admin console ---
KEYCLOAK_ADMIN_PASSWORD=strong-password

# --- Grafana admin ---
GRAFANA_ADMIN_PASSWORD=strong-password

MAIL_USERNAME=
MAIL_PASSWORD=
